<!-- Hover State Styling -->
<button class="bg-black text-white py-3 px-5 rounded-lg m-3 hover:bg-orange-400 hover:text-white">
  Hover
</button>

<!-- Focus State Styling -->
<button class="bg-black text-white py-3 px-5 rounded-lg m-3 focus:bg-sky-400 focus:text-white">
  Focus
</button>

<!-- Active State Styling -->
<button class="bg-black text-white py-3 px-5 rounded-lg m-3 active:bg-yellow-400 active:text-white">
  Active
</button>

<!-- Styling based on parent state -->
<a href="" class="group block max-w-xs mx-auto rounded-lg p-6 bg-white shadow-lg space-y-3 hover:bg-sky-300">
  <h3 class="group-hover:text-white">Card Title</h3>
  <p class="group-hover:text-white">Card Contents</p>
</a>

<!-- Pseudo Classes -->
<ul>
  <li class="first:bg-red-300 even:bg-sky-300 odd:bg-violet-400" >Item 1</li>
  <li class="first:bg-red-300 even:bg-sky-300 odd:bg-violet-400" >Item 2</li>
  <li class="first:bg-red-300 even:bg-sky-300 odd:bg-violet-400" >Item 3</li>
  <li class="first:bg-red-300 even:bg-sky-300 odd:bg-violet-400" >Item 4</li>
  <li class="first:bg-red-300 even:bg-sky-300 odd:bg-violet-400" >Item 5</li>
  <li class="first:bg-red-300 even:bg-sky-300 odd:bg-violet-400" >Item 6</li>
</ul>

<!-- Appearance -->
<!-- Use appearance-none to reset any browser specific styling on an element. This utility is often used when creating custom form components. -->
<select name="" id="" class="appearance-none">
  <option value="yes">Yes</option>
  <option value="no">No</option>
</select>

<!-- Cursor -->
<button class="bg-black text-white py-3 px-5 rounded-lg m-3 cursor-not-allowed">
  Cursor
</button>
<a href="#item" class="block my-6">Go to Item</a>

<!-- Resize -->

<!-- User Select -->
<div class="select-none">Our Father in heaven, Sanctified be Thy Name...</div>
<div class="select-text">Our Father in heaven, Sanctified be Thy Name...</div>
<div class="select-all">Our Father in heaven, Sanctified be Thy Name...</div>
<div class="select-auto">Our Father in heaven, Sanctified be Thy Name...</div>

<!-- Smooth Scroll Example -->
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas inventore, nisi ratione nam omnis unde impedit modi. Eaque aspernatur enim mollitia ipsa porro omnis eos natus assumenda, tempore dolorum quaerat! Asperiores, dolore? Facere ipsa officia nam numquam rerum aliquam esse voluptatum possimus nesciunt quam optio, quia qui nemo consequuntur blanditiis dicta fugit eaque accusantium sunt! Adipisci, alias? Dolorem iure, excepturi optio nisi consectetur facere, quam quidem minima at recusandae, cumque neque maxime tempore doloremque nobis? Vero commodi, est quod minima praesentium velit veniam repellendus reprehenderit molestias, assumenda quasi aperiam modi, natus repudiandae exercitationem quia! Cum libero officiis odio nemo ullam obcaecati doloremque, ad esse et porro quidem ratione. Ipsum, voluptatibus repellendus. Nobis odio facilis sed sapiente ex totam similique officiis quae velit impedit aspernatur, fugit itaque amet cumque minima rem dolorem, dicta natus labore ab consequatur exercitationem! Animi inventore aliquam ab sit officiis molestias soluta eaque earum, dolorem, numquam saepe labore fugit minima? Asperiores, assumenda nam officia aut ex expedita? Excepturi libero, necessitatibus ut, facilis esse, minima odio eligendi itaque iste quae magnam! Consequuntur hic enim quos, unde sunt nulla dignissimos qui dicta pariatur commodi eius laborum animi dolorem quibusdam minus sed incidunt? Eaque perferendis consequatur corrupti, dignissimos tenetur voluptatum doloremque, adipisci ex quae dicta repellendus fuga magnam corporis saepe vel debitis reiciendis aut eius sapiente. Necessitatibus, veniam accusantium optio voluptas voluptatem eaque sapiente aliquid quibusdam cupiditate, sunt aut, blanditiis natus. Aspernatur, ipsam maxime! Eius architecto voluptatem consequuntur ut aliquid placeat obcaecati labore incidunt beatae assumenda. Necessitatibus, maxime quae. Illo possimus quidem ex fuga, ratione nisi quam eos et fugiat dolores saepe delectus impedit facere enim culpa maiores sapiente amet. Dolore explicabo nam facilis temporibus nihil odio. Molestiae quis, deserunt dignissimos iste facere nesciunt totam dolores illum quisquam cupiditate aliquid impedit ipsa dicta repudiandae odio earum ducimus delectus amet a asperiores. Dolores, sint vero commodi maiores mollitia incidunt repellendus unde minus laboriosam vitae qui sit necessitatibus, eaque nam esse dicta est accusantium. Atque tempore itaque autem nemo, enim dignissimos et harum alias rerum rem fugit a iusto libero optio voluptates incidunt molestias quidem! Esse possimus a placeat iste nobis, maxime consequatur cupiditate tempora praesentium nostrum autem eos porro quod? Perferendis ea aut doloremque reprehenderit adipisci provident eveniet, mollitia error reiciendis soluta dolorem expedita quisquam ullam omnis necessitatibus magni. Neque sequi, accusamus accusantium dolore alias, inventore dignissimos sed exercitationem nemo doloribus quas! Doloremque quos sint repellendus veniam dignissimos nemo nostrum vel?</p>
<div id="item">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint tempora rem iusto? Cupiditate ipsum placeat, deleniti in molestias esse! Tenetur id exercitationem fugit consequatur at velit, rerum iste quam neque, saepe maxime rem doloribus accusamus? In a distinctio voluptates veritatis?</div>

<!-- Cursor
  cursor-auto	          cursor: auto;
  cursor-default	      cursor: default;
  cursor-pointer	      cursor: pointer;
  cursor-wait	          cursor: wait;
  cursor-text	          cursor: text;
  cursor-move	          cursor: move;
  cursor-help	          cursor: help;
  cursor-not-allowed	  cursor: not-allowed;
  cursor-none	          cursor: none;
  cursor-context-menu	  cursor: context-menu;
  cursor-progress	      cursor: progress;
  cursor-cell	          cursor: cell;
  cursor-crosshair	    cursor: crosshair;
  cursor-vertical-text	cursor: vertical-text;
  cursor-alias	        cursor: alias;
  cursor-copy	          cursor: copy;
  cursor-no-drop	      cursor: no-drop;
  cursor-grab	          cursor: grab;
  cursor-grabbing	      cursor: grabbing;
  cursor-all-scroll	    cursor: all-scroll;
  cursor-col-resize	    cursor: col-resize;
  cursor-row-resize	    cursor: row-resize;
  cursor-n-resize	      cursor: n-resize;
  cursor-e-resize	      cursor: e-resize;
  cursor-s-resize	      cursor: s-resize;
  cursor-w-resize	      cursor: w-resize;
  cursor-ne-resize	    cursor: ne-resize;
  cursor-nw-resize	    cursor: nw-resize;
  cursor-se-resize	    cursor: se-resize;
  cursor-sw-resize	    cursor: sw-resize;
  cursor-ew-resize	    cursor: ew-resize;
  cursor-ns-resize	    cursor: ns-resize;
  cursor-nesw-resize	  cursor: nesw-resize;
  cursor-nwse-resize	  cursor: nwse-resize;
  cursor-zoom-in	      cursor: zoom-in;
  cursor-zoom-out	      cursor: zoom-out;
-->
